@model SpinningFilm.ViewModels.ResetPasswordViewModel

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "The following errors occurred:", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Token)

    <div class="form-group">
        @Html.LabelFor(model => model.Password, null, new { @class = "h4" })
        <div>
            @Html.TextBoxFor(model => model.Password, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, null, new { @class = "h4" })
        <div>
            @Html.TextBoxFor(model => model.ConfirmPassword, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Reset" />
}
